body {
    margin: 0%;
    background-color: rgba(130, 129, 129, 0.548);
  }
  
  .container {
    background-color: yellow;
    position: absolute;
    min-width: 400px;
    border: 1px solid white;
    border-radius: 1px;
    padding-left: 40px;
    box-shadow: 0 0 15px -2px #444444;
    display: flex;
    justify-content: center;
    min-height: 40vb;
    margin: 20%;
    left: 5%;
    right: 20%;
    height: 40%;
  
  }
  
  form {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    position: absolute;
    left:10%;
    justify-content: center;
    align-items: top;
  }
  
  input {
    min-width: 300px;
    border-radius: 4px;
    outline-color: lightcoral;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    margin: 8px;
    border: solid 1px gray;
  }
  
  input:focus {
    outline: none;
    color: rgb(29, 23, 23);
    background-color: whitesmoke;
  }
  
  button {
    margin: 5%;
    margin-left:10px;
    margin-top: 10px;
    width: 80px;
    border-radius: 4px;
    height: 40px;
    color: rgb(12, 11, 11);
    font-size: 20px;
    border:solid 2px black;
    background-color: yellowgreen;
    border-width: 2px;
    padding: 5px 5px;
    cursor: pointer;
    margin-bottom: 10px;
    
  }